/*-------- Default font style --------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@600&family=Poppins:wght@300;500;700&family=Roboto:wght@100;400;500;700&family=Source+Sans+Pro&display=swap');
/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*.........................Font style for item details.................................................. */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@600&family=Poppins:wght@300;500;700&family=Roboto:wght@100;400;500;700&family=Source+Sans+Pro&display=swap');
/* ////////////////////////////////////////////////////////////////////////////////////// ///////////////*/

/* ---------------------------Font style for Footer----------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans:wght@600&family=PT+Serif:wght@700&family=Poppins:wght@300;500;700&family=Roboto:wght@100;400;500;700&family=Source+Sans+Pro&display=swap');
/* /////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*.......... Animation for Ball1................*/

@keyframes sliding1 {
    0% {
        top:0;
        left: 0;
    }
   
    50% {
        top: 150px;
        left: 70px ;
    }
    100% {
        top: 0;
        left: 160px;
    }
}
/* ............Animation for Ball2......... */

@keyframes sliding2 {
    0% {
        top:0;
        left: 0;
    }
   
    50% {
        top: -100px;
        left: -70px ;
    }
    100% {
        top: 0;
        left: -160px;
    }
}

/* //////////////////////////////////////////////////////////////////////////// */

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F3F1FF;
    padding: 0;
    margin: 0;
}
/* ---------------------------------------------------------------------------- */
nav > .nav-box{
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
}
.nav-box{
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 90px;
}
.heading{
    font-size: 2em;
}
.start-inf{
    display: flex;
    width: 1160px;
    height: 430px;
    margin-top: 120px;
    margin-left: 130px;
    
}
.start-journey{
    width: 420px;
    height: 270px;
}
.start{
    margin-bottom: 30px;
}
h1{
    font-size: 52px;
}
.prebook-button {
    margin-top: 20px;
}
.prebook-button a{
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    background-color: #E02C6D;
    text-decoration: none;
    border: 1px solid white;
    color: white; 
    border-radius: 30px;
    text-align: center;
}
.dslr{
    margin-top: 10px;
    margin-left: 200px;
}
.dslr img{
    width: 400px;
    height: 380px;
    background-color: #E02C6D;
    border: 1px solid white;
    padding: 10px ;
    border-radius: 20px;
}
/* ----------------------------------------------------------------------------------------- */
                                /* logo section */
/* ........................................................................................ */
.logo img{
    width: 80px;
    height: 50px;
    
}
.logo{
    width: 1100px;
    height: 110px;
    margin-top: 70px;
    margin-left: 140px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(gray,gray);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    margin-bottom: 100px;   
}
.logo-img{
    padding-left: 10px;
    padding-right: 70px;
}
/* ----------------------------------------------------------------------------------------- */
                                /* Popular Collections */
/* ........................................................................................ */

.popular-items{
    width: 1000px;
    margin-left: 145px;
    margin-bottom: 40px;
}
#collections-id{
    text-align: center;
    margin-bottom: 30px;
}
.items{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-row-gap: 30px;
 grid-column-gap: 30px;
 
}
.item-details{
    background-color: #FFFFFF ;
    height: 450px;
    border-radius: 5px;
    padding: 15px;
    /* overflow: hidden; */
}
/* .item-details:hover .items-img{
    transform: scale(1.2);
    transition: transform 1s ease-in;
} */
.items-img img{
    width: 300px;
    height: 270px;
}
h2{
    margin: 5px;
    
}
.price{
    margin: 5px;
}
.star{
    display: flex;
    align-items: center;
    margin-left: 5px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.rating{
    padding-left: 10px;
}
#mini-para{
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    width: 200px;
}
.see-button {
   /* margin-left: 1010px; */
   position: relative;
   left: 1000px;
}
.see-button a{
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    background-color: F3F1FF;
    text-decoration: none;
    color: #E02C6D; 
    border-radius: 30px;
    text-align: center;
    font-size: 1.3em;
    
}
/* ..................................Featured part.............................................. */
.feature-heading{
    position: relative;
    left: 40%;
    margin-top: 70px;
    margin-bottom: 30px;
}
.feature-section{
    display: flex;
    align-items: center;
    
   
}
.feature-image{
    margin-left: 140px;
    overflow: hidden;
}
.feature-image img{
    width: 300px;
    height: 270px;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
}
.feature-image:hover img{
    transform: scale(1.2);
    transition: transform 1s ease-in;

}
.feature-animation{
    margin-left: 50px;
}
.field{
    display: flex;
    width: 700px;
    height: 270px;
    border: 5px solid #E02C6D;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.field img{
    margin-top: 30px;
}
.camera2{
    position: absolute;
    left: 900px;
    margin-left: 80px;
    /* display: none; */
}
.ball1{
    margin-top: 88px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: #E02C6D;
    border-radius: 25px;
}
.ball2{
    margin-top: 88px;
    margin-left: 118px;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: #E02C6D;
    border-radius: 25px;
}
.field:hover .ball1{
    position: relative;
    animation: sliding1 2s linear 0.2s infinite alternate;
}
.field:hover .ball2{
    position: relative;
    animation: sliding2 2s linear 0.2s infinite alternate;
}


/*...................................footer..................................................... */

.footer{
    padding: 20px;
    text-align: center;
    background-color: #03203C;
    border: 1px solid #03203C;
    color: white;
}
.inf-footer {
    margin-top: 20px;
}
.inf2-footer{
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px;
}
.social-media a{
    margin-right: 5px;
    padding: 5px;
    font-size: 2em;
    color: black;
}
/* .............................Media Quary For Devices.......................... ..........................................*/

/*..............................For Mobile.................................................... */
@media only screen and (max-width:688px) {
    
    .nav-box{
        margin: 5px;
        flex-direction: column;
        padding: 5px;
        width: 100%;
    }
    .nav-box a{
        margin-right: 5%;
        /* padding-left: px; */
    }
    .heading{
        margin-left: 55px;
        /* margin-bottom: px; */
        /* font-size: ; */
    }
     .container{
        width: 100%;
        height: 100%;
    }
    h1{
        width: 100%;
        /* margin: 5px; */
        font-size: 20px;
        /* margin-left: ; */
    }
    .star{
        margin-bottom: 5px;
        /* margin-left: ; */
        /* font-size: ; */
    }
    .prebook-button a{
        margin-bottom: 10px;
        margin-left: 20%;
    }
    .start-journey{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    .dslr{
        margin-left: 5px;
    }
    .dslr img{
        width: 300px;
        height: 250px;
        margin-bottom: 100px;
    }
    .start-inf{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left:5px;
        margin-top: 5px;
        
    }
    .logo{
        display: none;
    }
    #collections-id{
        margin-top: 50px;
        /* margin-left: ; */
        text-align: left;
    }
    .popular-items{
        margin-left: 5px;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 50px;
        /* margin-left: ; */
        
        /* grid-row-gap: 30px;
        grid-column-gap: 30px; */ 
}
.feature-heading{
    position: static;
}
.field{
    display: none;
}
.feature-image{
    margin-left: 5px;
}
}
/*.................................. For Tablet.............................................. */
@media only screen and (min-width:688px) and (max-width:1024px){
    .nav-box{
        margin: 5px;
        flex-direction: column;
        /* padding: 5px; */
        width: 100%;
    }
    .nav-box a{
        margin-right: 80px;
        padding-left: 10px;
    }
    .heading{
        margin-left: 28%;
        margin-bottom: 10px;
        font-size: 2em;
    }
     .container{
        width: 100%;
        height: 100%;
    }
    h1{
        width: 100%;
        /* margin: 5px; */
        font-size: 30px;
        margin-left: 30%;
    }
    .prebook-button a{
        margin-bottom: 10px;
        margin-left: 50%;
    }
    .start{
        margin-bottom: 20px;
        margin-left: 20%;
        font-size: 1.2em;
    }
    .start-journey{
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }
    .dslr{
        margin-left: 5px;
    }
    .dslr img{
        width: 300px;
        height: 250px;
        margin-bottom: 200px;
        margin-left: 18%;
    }
    .start-inf{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left:5px;
        margin-top: 5px;
        
    }
    .logo{
        display: none;
    }
    #collections-id{
        margin-top: 150px;
        margin-left: 20%;
        text-align: left;
    }
    .popular-items{
        margin-left: 5px;
    }
    .items{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 50px;
       margin-left: 15%;
        
        /* grid-row-gap: 30px;
        grid-column-gap: 30px; */ 
}
.feature-heading{
    position: static;
    font-size: 2em;
    margin-left: 15%;
}
.field{
    display: none;
}
.feature-image{
    margin-left: 20%;
}

}
